@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SpaceMonoRegular';
  src:
    local('SpaceMonoRegular'),
    url(./assets/fonts/SpaceMono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'SpaceMonoBold';
  src:
    local('SpaceMonoBold'),
    url(./assets/fonts/SpaceMono-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'InterThin';
  src:
    local('InterThin'),
    url(./assets/fonts/Inter-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'InterRegular';
  src:
    local('InterRegular'),
    url(./assets/fonts/Inter-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'InterBold';
  src:
    local('InterBold'),
    url(./assets/fonts/Inter-Bold.ttf) format('truetype');
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(0, 0%, 100%);
    --background: hsl(240, 31%, 25%);
    --link: hsl(204, 77%, 56%);
  }
} 

@media (prefers-color-scheme: light) {
  :root {
    --text: hsl(0, 0%, 0%);
    --background: hsl(0, 0%, 100%);
    --link: hsl(204, 100%, 38%);
  }
} 

:root {
  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

#root {
  height: 100%;
}

html, body {
  height: 100%;
  font-family: 'InterRegular';
}

a {
  color: var(--link);
}

a,
ul,
li {
  font-family: 'InterThin';
  color: var(--text);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'SpaceMonoRegular';
  margin: 0;
}
