/* Local fonts */
@import url('fonts.css');

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark variables */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #2c2c54;
    --text: #ffffff;
  }
} */

/* Light variables */
/* @media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --text: #000000;
  }
} */

:root {
  /* Shared variables */
  --background: #2c2c54;
  --darkBlue: #131324;
  --midBlue: #2b5b7b;
  --spotBlue: #47a0d9;
  --text: #ffffff;

  /* Theme setup */
  background-color: var(--background);
  /* color-scheme: light dark; */
  color: var(--text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html,
body,
#root {
  height: 100%;
}

p {
  font-family: 'InterLight';
  letter-spacing: 0.3px;
}

a {
  color: var(--spotBlue);
  font-family: 'InterLight';
  text-decoration: none;
}

a:hover,
a.active {
  color: var(--text);
}

a.active:hover {
  cursor: default;
}

ul,
li {
  color: var(--text);
  font-family: 'InterLight';
  text-decoration: none;
}

h1,
h2,
h3 {
  letter-spacing: 0.3px;
}

h1 {
  font-family: 'SpaceMonoBold';
}

h2 {
  font-family: 'InterBold';
}

h3 {
  font-family: 'InterRegular';
}
